# Fichiers compilés
*.o
*.obj
*.so
*.a
*.out
*.exe
*.dll
*.pdb
*.idb
*.lib

# Répertoires de build
build/
bin/
obj/

# Fichiers temporaires
*.log
*.tmp
*.swp
*.swo
*~

# Fichiers d'éditeur
.vscode/
*.code-workspace
.idea/
*.project
*.cproject

# Fichiers de configuration de Visual Studio
.vs/
.vs2019/
.vs2017/

# Fichiers spécifiques au système
.DS_Store
Thumbs.db

# MacOS runnner (Enzo)
build.sh