body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}